<nav class="navbar navbar-expand-sm bg-dark navbar-dark"> <!--
  <a class="navbar-brand" href='{% url "home" %}'>Basic Application</a> -->
  <ul class="navbar-nav">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href='{% url "home" %}'>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='{% url "about" %}'>About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='{% url "contact" %}'>Contact Us</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href='{% url "profile" %}'>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='{% url "dashboard" %}'>Dashboard</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </li>
    {% endif %}
  </ul>
  <ul class="navbar-nav ml-auto">
    {% if not user.is_authenticated %}
    <!-- <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">Register</a>
    </li> -->
  	<li class="nav-item">
  		<a class="nav-link" href="{% url 'login' %}">Login</a>
  	</li>
    {% else %}
    <li class="nav-item dropdown">
      <h4 style="color: white;">  Welcome {{user.username}}
      </h4>
    </li>
    {% endif %}
  </ul>
</nav>
